@model PizzaWorld.Client.Models.OrderViewModel

<input type="checkbox" name="Pizzas">
<label for="Pizzas">Meat Lovers Pizza</label>
<input type="checkbox" name="Pizzas">
<label for="Pizzas">Veggie Pizza</label>
<input type="checkbox" name="Pizzas" >
<label for="Pizzas">Hawaiian Pizza</label>
