@model PizzaWorld.Client.Models.CustomerViewModel

@{
    ViewBag.Title = "Customer - Home";
    Layout = "_CustomLayout";
}
<section>
    Hello @Model.Name
</section>

<form asp-controller="Order" asp-action="StartNewOrder">
    <button type="submit">Start New Order</button>
</form>

<section>

</section>