@model PizzaWorld.Client.Models.LoginViewModel
@{
    TempData.Clear();
    ViewBag.Title = "Customer - Login";
    Layout = "_CustomLayout";
}
<form method="POST" asp-controller="Customer" asp-action="Welcome">
@foreach(var user in Model.AllUsers)
{
    <input type="radio" name="CurrentUserId" id="@user.EntityId" value="@user.EntityId">
    <label for="@user.EntityId">@user.Name</label>
}
<button>Sign In</button>
</form>
